<!DOCTYPE html>
<html>
<head><title>TransferDB</title></head>
<body>
<%- include('partials/flash') %>
<h1>TransferDB</h1>
<p>CMPE321 Football Database Management System</p>
<ul>
  <li><a href="/login">Login</a></li>
  <li><a href="/register">Register</a></li>
</ul>
</body>
</html>
