<!DOCTYPE html>
<html>
<head><title>Register - TransferDB</title></head>
<body>
<h1>Register</h1>
<p>Choose your role:</p>
<ul>
  <li><a href="/register/player">Register as Player</a></li>
  <li><a href="/register/manager">Register as Manager</a></li>
  <li><a href="/register/referee">Register as Referee</a></li>
  <li><a href="/register/db-manager">Register as Database Manager</a></li>
</ul>
<p><a href="/login">Back to Login</a></p>
</body>
</html>
