<!DOCTYPE html>
<html>
<head><title>Create User - TransferDB</title></head>
<body>
<%- include('../partials/nav') %>
<%- include('../partials/flash') %>
<h1>Create New User</h1>
<p>Select the type of user to create:</p>
<ul>
  <li><a href="/register/player">Create Player</a></li>
  <li><a href="/register/manager">Create Manager</a></li>
  <li><a href="/register/referee">Create Referee</a></li>
  <li><a href="/register/db-manager">Create Database Manager</a></li>
</ul>
</body>
</html>
